/* google font style */

  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    height: 100%;
}
main{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
/* first section start */
.first-section{
    background-color: rgb(0, 217, 255);
    border-radius: 5px;
    width: 1100px;
    height: 500px;
}
.home-page{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   justify-content: center;
}
.section-title{
    padding: 25px;
    color: aliceblue;
    font-size: 30px;
}
.section-img img{
    height: 500px;
}
.pragrap,
.watch-live{
    font-size: 18px;
}
.section-title .watch-live a{
    text-decoration: none;
    border-radius: 5px;
    border: solid aliceblue 2px;
    padding: 15px;
    color: aliceblue;
}
.watch-live:hover a{
    background-color: aliceblue;
    color: rgb(0, 217, 255);
    border: solid 2px  aliceblue;
}

/* first section end */
/* second section start */
.play-area,
.play-area2{
   
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-direction: column;
    gap: 15px;
}
.play-area2{
    margin-top: 15px;
}
.nav-area,
.nav-area2{
    width: 252px;
    height: 312px;
    background-color: rgb(94, 210, 245);
    border-radius: 5px;
    margin: 10px;
}
.menus{
    padding: 10px;
}
.menus .menu a{
    text-decoration: none;
    display: grid;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.football-field{
    width: 252px;
    height: 362px;
    border: 1px solid gray;
    border-radius: 5px;
}
.football-field .play-football img{
    width: 252px;
    border-radius: 5px;
}
.football-field .football-detail a{
    text-decoration: none;
    border: 1px black solid;
    padding: 7px;
    border-radius: 6px;
    color: black;
}
.football-detail{
    padding-left: 10px;
    margin-top: 15px;
}
/* third section start */
.view-all a{
    text-decoration: none;
    color: aqua;
    padding: 10px 15px;
    background-color: rgb(182, 41, 41);
    border-radius: 5px;
    
}
.view-all{
    display: flex;
    top: 150px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
    top: 150px;
}
/* footer section start */
footer{
    background-color: rgb(94, 210, 245) ;
    position: relative;
    top: 200px;
    height: 300px;
}
.footer-goal{
    top: 130px;
}

.footer-item,
.footer-goal{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}
.footer-item a{
    text-decoration: none;
    padding-left: 10px;
    color: aliceblue;
}
.social-icon img{
   width: 50px;
   margin-left: 20px;
}
.social-icon{
    justify-content: center;
    align-items: center;
    display: flex;
   position: relative;
   top: 40px;
}
hr{
    border: solid 1px rgb(209, 209, 209);
    margin: 0 40px;
}